{# Frequency selection #}
<div class="form-btn">
  <span class="fas fa-filter start-input" aria-hidden="true"></span>
  <div class="btn-group aeneria-select-frequency">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="frequency"></button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#" data="day">{{ 'Jour'|trans }}</a>
      <a class="dropdown-item" href="#" data="week">{{ 'Semaine'|trans }}</a>
      <a class="dropdown-item" href="#" data="month">{{ 'Mois'|trans }}</a>
      <a class="dropdown-item" href="#" data="year">{{ 'Année'|trans }}</a>
    </div>
  </div>
</div>
