{# Place selection #}
{% if places|length > 1 %}
<span class="fas fa-map-marker-alt start-input" aria-hidden="true" style="font-size: 1.1em; color: white"></span>
<div class="btn-group aeneria-select-place">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="place"></button>
    <div class="dropdown-menu dropdown-menu-right">
        {% for idPlace, place in places %}
        <a class="dropdown-item" href="#" data="{{ idPlace }}">
            <i class="fas fa-{{ place.icon }}"></i> {{ place.name }}
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}
