# This file defines all environment variables that the application needs.
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE.
# Use ".env.local" for local overrides during development.
# Use real environment variables when deploying to production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=app_secret_you_should_change_this_value
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For PostgreSQL database use: "pgsql://[database_user]:[database_password]@127.0.0.1:5432/[database_name]
# For MySQL database use: "mysql://[database_user]:[database_password]@127.0.0.1:3306/[database_name]
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=pgsql://db:password@postgres:5432/db
###< doctrine/doctrine-bundle ###

### aeneria features ###
# Number of places a user can create
AENERIA_USER_MAX_PLACES=-1
# Can users share place between them
AENERIA_USER_CAN_SHARE_PLACE=1
# Can user fetch data from ui
AENERIA_USER_CAN_FETCH=1
# Can user export data from ui
AENERIA_USER_CAN_EXPORT=1
# Can user import data from ui
AENERIA_USER_CAN_IMPORT=1
# Can a place be public
AENERIA_PLACE_CAN_BE_PUBLIC=1
# Activate demo mode
AENERIA_DEMO_MODE=0
# Welcome message
AENERIA_WELCOME_MESSAGE='<h1>Bienvenue sur æneria</h1>'

### Enedis Data Hub ###
ENEDIS_CLIENT_ID=%%ENEDIS_CLIENT_ID%%
ENEDIS_CLIENT_SECRET=%%ENEDIS_CLIENT_SECRET%%
ENEDIS_REDIRECT_URI=%%ENEDIS_REDIRECT_URI%%
ENEDIS_ENDPOINT_AUTH=%%ENEDIS_ENDPOINT_AUTH%%
ENEDIS_ENDPOINT_TOKEN=%%ENEDIS_ENDPOINT_TOKEN%%
ENEDIS_ENDPOINT_DATA=%%ENEDIS_ENDPOINT_DATA%%
