{% extends 'bases/base.html.twig' %}

{% block title %}{{ 'Configuration' | trans }}{% endblock %}

{% block selection %}{% endblock %}

{% block body %}
  <div class="container-fluid row">
    <div class="col-md-6">
        {% include "configuration/param.html.twig" with {form_config: form_config, message: message} %}
    </div>
    <div class="col-md-6">
        {% include "configuration/about.html.twig" %}
    </div>
  </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
