<form class="form-inline" id="selection-form">
    <div class="input-daterange">
          <input type="text" class="form-control mr-sm-2 datepicker" name="start-date" id="start-date">
          <input type="text" class="form-control mr-sm-2 datepicker"  name="end-date" id="end-date">
    </div>
    <button type="submit" class="btn btn-primary">Refresh</button>
</form>
