<form class="form-inline" id="selection-form">
    <div class="input-daterange">
          <input type="text" class="form-control mr-sm-2 datepicker pilea-start-date" name="start-date" id="start-date"><input type="text" class="form-control mr-sm-2 datepicker pilea-end-date"  name="end-date" id="end-date">
    </div>
    <button type="submit" class="btn btn-primary pilea-refresh">></button>
</form>
