{% extends 'base.html.twig' %}

{% block body %}
  <div class="container-fluid">
    <div class='row'>
      <div id='evolution' class='col-6'>
        <div class='card'>
          <div class="card-header">
            <h2> {{ 'Compteur Linky' | trans }} </h2>
          </div>
          <div class="card-content">
            <div class="container"> {{ form(form_linky) }} </div>
          </div>
        </div>
      </div>
      <div id='repartition' class='col-6'>
        <div class='card'>
          <div class="card-header">
            <h2> {{ 'Meteo France' | trans }} </h2>
          </div>
          <div class="card-content">
            <div class="container"> {{ form(form_meteo_france) }} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
