{% extends 'base.html.twig' %}

{% block body %}
<section class="section">
  <div class="container">
    <div class='columns'>
      <div id='evolution' class='column is-two-third'>
        <div class='card'>
          <header class="card-header">
            <p class="card-header-title">{{ 'Evolution de la consommation sur la période' | trans }}</p>
          </header>
          <div class="card-content">
            <div class="content">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Phasellus nec iaculis mauris.</div>
          </div>
        </div>
      </div>
      <div id='repartition' class='column is-one-quarter'>
        <div class='card'>
          <header class="card-header">
            <p class="card-header-title">{{ 'Répartition sur la semaine' | trans }} </p>
          </header>
          <div class="card-content">
            <div id="week-repartition"></div>
          </div>
        </div>
      </div>
    </div>
    <div class='columns'>
      <div class='column'>
        <div class='card'>
          <header class="card-header">
            <p class="card-header-title">{{ 'Consommation sur la période' | trans }}</p>
          </header>
          <div class="card-content">
            <div class="content">Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Phasellus nec iaculis mauris.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
  <script src={{ asset("js/index_graph.js") }}></script>
{% endblock %}
