{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse{% endblock %}

{% block selection %}{% endblock %}

{% block body %}
<div class="container-fluid row justify-content-center align-items-center users">
  <div class='card config-form col-lg-6 col-md-8'>
    <div class="card-body">

      <h2><i class="fas fa-cube"></i>{{ 'Partage de données Enedis' | trans }}</h2>
      <p>
        En France, <a href="https://www.enedis.fr/profil">Enedis</a> gère le réseau d’électricité jusqu’au compteur d’électricité. Pour permettre à æneria
        d'alimenter ses tableaux de bord, autorisez Enedis à nous transmettre vos données Linky.
      </p>

      <p>En cliquant sur ce bouton, vous allez accéder à votre compte personnel Enedis où vous pourrez donner votre accord pour qu’Enedis nous transmette vos données.</p>

      <div class="text-center">
        <a href="{{ enedis_url }}" class="text-center"> <img src="{{ asset('image/enedis-consent.png') }}" alt='Accédez à votre espace Enedis'></a>
      </div>

      <div class="alert alert-warning">
        <p>
          Pour donner votre autorisation, vous devez créer un compte personnel Enedis. Il vous permet également de suivre et gérer vos données de consommation
          d’électricité. Munissez-vous de votre facture d’électricité pour créer votre espace.
        </p>

        <div class="text-center">
          <a href="{{ enedis_url }}" class="text-center btn btn-secondary">Je crée mon compte personnel Enedis</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}