{% extends "dashboards/dashboard.html.twig" %}

{% block title %}{{ 'Accueil' | trans }}{% endblock %}

{% block selection %}
<div class="mx-auto">
  <form class="form-inline selection-form">
      <div class="row align-items-center justify-content-around">
        <div class="col col-place">
          {% include "selection/place.html.twig" %}
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block body %}
  {% import "dashboards/month_summary.html.twig" as month %}

  <div id="homepage" class="container-fluid">
    <div class="row">
      <div class="col">
        {{ month.summary('0') }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{ month.summary('-1') }}
      </div>
    </div>

    <div class="row">
      <div class="col load-more">
        <button id="load-more" class="btn-secondary btn">
          {{ 'Afficher le mois précédent' | trans }}
        </button>
      </div>
    </div>

  </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block js %}
{% endblock %}
