{% extends "pages/dashboard.html.twig" %}

{% block title %}{{ 'Analyse de la température' | trans }}{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class='row'>
      <h1>/!\ En construction...</h1>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block js %}
  <script src={{ asset("js/temperature_graph.js") }}></script>
{% endblock %}
