# This file defines all environment variables that the application needs.
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE.
# Use ".env.local" for local overrides during development.
# Use real environment variables when deploying to production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=app_secret_you_should_change_this_value
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For PostgreSQL database use: "pgsql://[database_user]:[database_password]@127.0.0.1:5432/[database_name]
# For MySQL database use: "mysql://[database_user]:[database_password]@127.0.0.1:3306/[database_name]
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=pgsql://db:password@postgres:5432/db
###< doctrine/doctrine-bundle ###

### aeneria features ###

# Number of places a user can create
# (-1 for no restriction)
AENERIA_USER_MAX_PLACES=-1
# Can users share place between them
AENERIA_USER_CAN_SHARE_PLACE=1
# Can user fetch data from ui
AENERIA_USER_CAN_FETCH=1
# Can user export data from ui
AENERIA_USER_CAN_EXPORT=1
# Can user import data from ui
AENERIA_USER_CAN_IMPORT=1
# Can a place be public
AENERIA_PLACE_CAN_BE_PUBLIC=1
# Activate demo mode
AENERIA_DEMO_MODE=0
# Welcome message
AENERIA_WELCOME_MESSAGE='<h1>Bienvenue sur æneria</h1>'

## Data providers ##

#
# There's 2 ways æneria can get data :
#  - You can directly use Enedis Data-connect API
#    and Grdf adict API with your own API keys
#  - If you don't or can't have API keys, you can
#    use æneria community proxy
#
# You can learne more about æeneria proxy server
# here : https://gitlab.com/aeneria/aeneria-proxy
#
#
# /!\ DISCLAIMER /!\
#
# Be aware that, if you use æneria proxy, when you
# give consentement to allow æneria to retrieve data
# from enedis/grdf, you give consentement to æneria
# proxy and not your æneria instance.
#
# This means that if we are evil, we can get all of
# your data. We are not evil (at least we try), and
# we have done all our possible to secure this access
# and we will not look at your data.
#
# Now it's up to you if you want to trust us or not.
#
# /!\ USE THIS PROXY AT YOUR OWN RISK /!\
#

# æneria proxy URL
AENERIA_PROXY_URL=https://proxy.aeneria.com
# should the app use æneria proxy (1 for yes, 0 for no)
AENERIA_PROXY_FOR_ENEDIS=%%AENERIA_PROXY_FOR_ENEDIS%%
AENERIA_PROXY_FOR_GRDF=%%AENERIA_PROXY_FOR_GRDF%%

## If you use your own API keys, fill the fields below

# Enedis Data Hub
ENEDIS_CLIENT_ID=%%ENEDIS_CLIENT_ID%%
ENEDIS_CLIENT_SECRET=%%ENEDIS_CLIENT_SECRET%%
ENEDIS_REDIRECT_URI=%%ENEDIS_REDIRECT_URI%%
ENEDIS_ENDPOINT_AUTH=https://mon-compte-particulier.enedis.fr
ENEDIS_ENDPOINT_TOKEN=https://gw.prd.api.enedis.fr
ENEDIS_ENDPOINT_DATA=https://gw.prd.api.enedis.fr

# Grdf adict
GRDF_CLIENT_ID=%%GRDF_CLIENT_ID%%
GRDF_CLIENT_SECRET=%%GRDF_CLIENT_SECRET%%
GRDF_REDIRECT_URI=%%GRDF_REDIRECT_URI%%
GRDF_ENDPOINT_AUTH=https://sofit-sso-oidc.grdf.fr
GRDF_ENDPOINT_DATA=https://api.grdf.fr
