###> symfony/framework-bundle ###
/.env
/.env.local
/.env.*.local
/public/bundles/
/private/
/var/
/vendor/
/test/private/
###< symfony/framework-bundle ###

/public/build/
/docs/_build/

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
.php-cs-fixer.cach
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
