<form class="form-inline" id="frequency">
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="frequency" id="year" value="year">
      <label class="form-check-label" for="year">{{ 'Année' | trans }}</label>
  </div>
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="frequency" id="month" value="month">
      <label class="form-check-label" for="month">{{ 'Mois' | trans }}</label>
  </div>
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="frequency" id="week" value="week">
      <label class="form-check-label" for="week">{{ 'Semaine' | trans }}</label>
  </div>
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="frequency" id="day" value="day">
      <label class="form-check-label" for="day">{{ 'Jour' | trans }}</label>
  </div>
</form>
