<form class="form-inline" id="selection-form">
    <div class="input-daterange">
          <input type="text" class="form-control mr-sm-2 datepicker pilea-start-date" name="start-date" id="start-date"><input type="text" class="form-control mr-sm-2 datepicker pilea-end-date"  name="end-date" id="end-date">
    </div>
    <button class="btn btn-primary pilea-select-date pilea-refresh">></button>
    <button class="btn btn-primary pilea-select-week pilea-refresh">Semaine</button>
    <button class="btn btn-primary pilea-select-month pilea-refresh">Mois</button>
    <button class="btn btn-primary pilea-select-year pilea-refresh">Année</button>
    <button class="btn btn-primary pilea-select-all pilea-refresh">Tout</button>
</form>

{{ render(controller(
    'AppBundle:Default:period',
    { 'max': 3 }
)) }}
