$font-logo: 'Cherry Swash';
$font-title: Arvo;
$font-text: 'Source Sans Pro';

$primary-color: #4f323b;
$secondary-color: #6a8389;
$white: #ffffff;
$body-bg-color: #f4f4f4;
$sidebar-bg-color: #313131;
$selection-bg-color: #dddddd;

// Chart colors
$grid-color: #dddddd;
$axe-color: #6d6d6d;
