/* ELECTRICITY DASH /////////////////////////////////////////////////////////////*/

.gen-first-col .card {
  min-height: 820px;
}

.index-top {
  margin-bottom: 20px;
}

.gen-first-line .card {
  min-height: 250px;
}

.gen-second-line {
  min-height: 540px;
}

@include media-breakpoint-down(xs) {
  .gen-first-col .card {
    min-height: 0px;
  }
}
