@font-face {
  font-family: Kingsmen;
  src: url('../font/Kingsmen_D.otf');
}
@font-face {
  font-family: 'Arvo';
  src: url('../font/Arvo-Regular.ttf');
}
@font-face {
  font-family: SourceSansPro;
  src: url('../font/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: RobotoSlab;
  src: url('../font/RobotoSlab-Regular.ttf');
}