$font-logo: Kingsmen;
$font-title: Arvo;
$font-monospace: CodeNew;
$font-monospace: SourceSansPro;
$font-text: RobotoSlab;

$primary-color: #4f323b;
$white: #ffffff;
$body-bg-color: #f4f4f4;
$sidebar-bg-color: #313131;
$selection-bg-color: #606060;
$button-color: #6a8389;
$theme-colors: (
  "primary": #6a8389,
  "danger": crimson
);