
@import "variables.scss";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import "structure.scss";
@import "navigation_desktop.scss";
@import "navigation_mobile.scss";
@import "chart.scss";
@import "homepage.scss";
@import "electricity_tab.scss";
@import "meteo_tab.scss";
@import "dju_x_conso_tab.scss";
@import "misc.scss";
