
@import "fonts.scss";
@import "variables";

:root {
  --primary-color: #{$secondary-color};
  @keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #eaebec;
    }
    40% {
        stroke: #eaebec;
    }
    66% {
        stroke: #eaebec;
    }
    80%,
    90% {
        stroke: #eaebec;
    }
  }
}

// @import 'primevue/resources/themes/lara-light-indigo/theme.css';
@import 'primevue/resources/themes/mdc-light-deeppurple/theme.css';
@import 'primevue/resources/primevue.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';
@import 'tippy.js/dist/tippy.css';

// @import "~@fortawesome/fontawesome-free/css/all.css";

// @import "structure.scss";
// @import "navigation_desktop.scss";
// @import "navigation_mobile.scss";
// @import "homepage.scss";
// @import "electricity_tab.scss";
// @import "meteo_tab.scss";
// @import "analyse_tab.scss";
// @import "comparaison_tab.scss";
// @import "forms.scss";
// @import "misc.scss";
body {
  background-color: $body-bg-color;
}

.p-card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);

  .p-card-title {
    font-family: $font-title;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.graph text, .tippy-content{
  font-family: $font-monospace;
  font-size: 0.8rem;
}
