/* GENERAL DASH /////////////////////////////////////////////////////////////*/

.gen-first-col .card {
    min-height: 820px;
}

.gen-first-line .card {
    min-height: 250px;
}

.gen-second-line {
    min-height: 540px;
}