/* SETTINGS /////////////////////////////////////////////////////////////////*/

.config-form {
    margin-top: 25px;
    max-width: 600px;
    h1 {
        margin-bottom: 20px;
    }
    h2 {
        margin-bottom: 30px;
    }
    i {
        margin-right: 10px;
    }
}

/* ABOUT ////////////////////////////////////////////////////////////////////*/

.about {
    margin-top: 25px;
}