/* SETTINGS /////////////////////////////////////////////////////////////////*/

.config-form {
    margin-top: 25px;
    h1 {
        margin-bottom: 20px;
    }
    h2 {
        margin-bottom: 30px;
    }
    i {
        margin-right: 10px;
    }
    .badge-danger {
        display: none;
    }
}

/* ABOUT ////////////////////////////////////////////////////////////////////*/

.about {
    margin-top: 25px;
    .fa-heart {
        color: crimson;
    }
    .about-list {
        list-style: none;
    }
}

/* WELCOME ////////////////////////////////////////////////////////////////////*/

.welcome {
    margin-top: 25px;
    padding-top: 25px;
    .logo {
        background-color: $primary-color;
        border-radius: 40px;
        padding: 30px 10px;
        height: 35px;
        img {
            height: 50px;
        }
    }
    h1 {
        margin-top: 20px;
    }
    h1, h2 {
        margin-bottom: 30px;
    }
    p {
        font-size: 1.2em;
    }
    .fas {
        font-size: 6em;
        margin-bottom: 25px;
    }
    .starting {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        h2 {
            background-color: $primary-color;
            border-radius: 30px 30px 0 0;
            color: $white;
            padding: 20px 0;
            margin-bottom: 0;
        }
        ul {
            border-radius: 0 0 30px 30px;
            border: rgba(0, 0, 0, 0.1) solid 1px;
            padding-bottom: 20px;
            padding-left: 0;
            background-color: rgba(0, 0, 0, 0.1);
            li {
                font-size: 1.1em;
                list-style: none;
                margin: 15px 0;
                padding: 0 30px;
                &:before {
                    content: '\f138';
                    font-size: 1.5em;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    position: relative;
                    left: -8px;
                    top: 6px;
                }
            }
        }
    }
}