
/* BRAND NAVBAR */
.navbar {
  background: $primary-color;
  box-shadow: 0 3px 0 rgba(10, 10, 10, .1);
  height: 60px;
}


nav {
  input, button {
    border: none;
  }
  .nav-icon {
    font-size: 1.5em;
    color: White;
  }
  .navbar-brand {
    span{
      font-family: $font-logo;
      color: $white;
      margin-left: 0px;
      vertical-align: middle;
      font-size: 1.7em;
    }

    .logo {
      height: 32px;
    }
  }
}

.navbar-item {
  margin-left: 10px;
}

/* SELECTION */
.selection-form {
  .row {
    display: flex;
    .col {
      display: flex;

      .start-input {
        border-radius: 20px 0 0 20px;
        background-color: $button-color;
        height: 36px;
        margin-right: 0;
        width: 40px;
        padding: .6rem .9rem;
      }

      .input-daterange {
        width: auto;
        display: flex;
      }

      .datepicker {
        margin: 0 !important;
      }

      .pilea-start-date,
      .pilea-end-date {
        border-radius: 0;
        border: none;
        width: 130px;
        height: 36px;
      }

      .pilea-inter-date {
        background: $white;
        margin: 0;
        width: 7px ;
        vertical-align: middle;
        padding-top: 9px;
      }

      .pilea-select-period button {
        background-color: $white;
        border-radius: 0;
        color: black;
        font-size: 0.9em;
      }

      .pilea-select-period .dropdown-toggle::after {
        display: none !important;
      }

      .pilea-refresh {
        border-radius: 20px 20px 20px 20px;
        margin: 0 5px 0 5px;
        vertical-align: middle;
      }

      .pilea-select-date {
        border-radius: 0 20px 20px 0;
        margin-left: 0 ;
      }

      .pilea-select-place button,
      .pilea-select-frequency button {
        border-radius: 0 20px 20px 0;
        margin-left: 0;
      }
    }
  }
}

/* SIDEBAR */
.sidebar {
  background: $sidebar-bg-color;
  width: 45px;
  height: 100%;
  position: fixed;

  > div > a {
    margin: 4px;
    padding: 6px;
    min-height: auto;
    line-height: 0.5;
  }

  > div > a > img {
    max-width: 24px;
    height: auto;
  }

  .active,
  .navbar .active {
    background-color: $button-color;
    border-radius: 20px 20px 20px 20px;
    box-shadow:  0 2px 4px rgba(0,0,0,0.1);
  }
}

@include media-breakpoint-down(md) {
  .desktop {
    display: none;
  }
}