
$sidebar-size: 300px;

#menu-mobile {
  position:fixed;
  left:-$sidebar-size;
  z-index: $zindex-sticky + 1;

  &.show {
    animation:.5s slideRight ease-in forwards; transition-delay:0;
  }
  &.hide {
    animation:1s slideLeft ease-out forwards; transition-delay:0;
  }
}

.mobile {
  &.sidebar {
    background-color: $sidebar-bg-color;
    width: $sidebar-size;
    z-index: $zindex-sticky + 1;

    a {
      color: white;
      text-decoration: none;

      img {
        margin-right: 5px;
      }

      &.config {
        position: absolute;
        bottom: 65px;
        right: 90px;
      }

      &.documentation {
        position: absolute;
        bottom: 65px;
        right: 45px;
      }

      &.logout {
        position: absolute;
        bottom: 65px;
        right: 0px;
      }
    }
  }

  &.selection {
    background-color: $selection-bg-color;
    position: fixed;
    z-index: $zindex-sticky;
    padding: 10px;
    box-shadow: 0 3px 0 rgba(10, 10, 10, .1);
    width: 100%;
    justify-content: center;

    .col {
      padding: 5px 25px;
    }

    .selection-date {
      display: flex;
      flex-wrap: wrap;
    }

    .col-period {
      .start-input {
        height: 72px;
        vertical-align: middle;
        &:before {
          position: relative;
          top: 13px;
        }
      }

      .input-daterange {
        width: 130px;
        display: flex;
        flex-wrap: wrap;
      }

      .aeneria-inter-date {
        display: none;
      }

      .aeneria-select-period button {
        height: 72px;
        vertical-align: middle;
      }

      .aeneria-refresh {
        height: 72px;
        vertical-align: middle;
      }
    }
  }
}

/* menu slide animations */
@keyframes slideRight {
  from {left:-$sidebar-size;}
  to {left:0;}
}
@-webkit-keyframes slideRight {
  from {left:-$sidebar-size;}
  to {left:0;}
}
@keyframes slideLeft {
  from {left:0;}
  to {left:-$sidebar-size;}
}
@-webkit-keyframes slideLeft {
  from {left:0;}
  to {left:-$sidebar-size;}
}
