.mobile {
    .sidebar {
        z-index: $zindex-sticky + 1;
        width: 300px;
        a {
            color: white;
            text-decoration: none;
            img {
                margin-right: 5px;
            }
        }
    }

    + .selection {
        background-color: $selection-bg-color;
        position: fixed;
        z-index: $zindex-sticky;
        padding: 10px;
        box-shadow: 0 3px 0 rgba(10, 10, 10, .1);
        width: 100%;
        justify-content: center;

        .col {
            padding: 5px;
        }

        .selection-date {
            display: flex;
            flex-wrap: wrap;
        }

        .col-period {
            .start-input {
                height: 72px;
                vertical-align: middle;
                &:before {
                    position: relative;
                    top: 13px;
                }
            }

            .input-daterange {
                width: 130px;
                display: flex;
                flex-wrap: wrap;
            }

            .pilea-inter-date {
                display: none;
            }

            .pilea-select-period button {
                height: 72px;
                vertical-align: middle;
            }

            .pilea-refresh {
                height: 72px;
                vertical-align: middle;
            }
        }


    }
}

@include media-breakpoint-up(lg) {
    .mobile {
        display: none;
    }
}