/* GENERAL //////////////////////////////////////////////////////////////////*/

body {
  font-family: CodeNew;
  background: $body-bg-color;
}

#body {
  height: 100%;
  @include media-breakpoint-up(md) {
    padding-left: 50px;
  }
  background: $body-bg-color;
}

h1 {
  font-family: 'Arvo';
}

h2 {
  font-family: 'Arvo';
  font-size: 1.50rem;
}

h3 {
  font-size: 1rem;
  text-align: center;
}

hr {
  margin-top: 0.5rem;
}

.btn-primary {
  background-color: $button-color;
  border: none;
}

/* CARD */

.card {
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  box-shadow:  0 2px 4px rgba(0,0,0,0.1);
}

.card-content {
  padding: 15px;
}