
@font-face {
    font-family: 'Arvo';
    src: url('../font/Arvo-Regular.ttf');
}

@font-face {
    font-family: CodeNew;
    src: url('../font/code-new-roman.otf');
}

@font-face {
    font-family: Kingsmen;
    src: url('../font/Kingsmen_D.otf');
}

$primary-color: #4f323b;
$white: #ffffff;
$body-bg-color: #f4f4f4;
$sidebar-bg-color: #4e4e4e;
$selection-bg-color: #999999;
$button-color: #0868AC;