/* GENERAL //////////////////////////////////////////////////////////////////*/

@font-face {
  font-family: Arvo;
  src: url('../font/Arvo-Regular.ttf');
}

@font-face {
  font-family: CodeNew;
  src: url('../font/code-new-roman.otf');
}

@font-face {
  font-family: Kingsmen;
  src: url('../font/Kingsmen_D.otf');
}

body {
  font-family: CodeNew;
  background: #f4f4f4;
}

#body {
  height: 100%;
  padding-left: 50px;
  background: #f4f4f4;
}

h2 {
  font-family: Arvo;
  font-size: 1.50rem;
}

h3 {
  font-size: 1rem;
  text-align: center;
}

hr {
  margin-top: 0.5rem;
}

/* BRAND NAVBAR */
.navbar {
  background: #4f323b;
  box-shadow: 0 3px 0 rgba(10, 10, 10, .1);
  height: 60px;
}

.navbar-brand > span{
  font-family: Kingsmen;
  color: #ffffff;
  margin-left: 7px;
  vertical-align: middle;
  font-size: 1.7em;
}

nav input, nav button {
  border: none !important;
}

.pilea-start-date {
  border-radius: 20px 0 0 20px !important;
  margin-right: 0  !important;
}

.pilea-end-date {
  border-left: #6d6d6d solid 1px !important;
  border-radius: 0   0 !important;
  margin-left: 0  !important;
  margin-right: 0  !important;
}

.pilea-refresh {
  border-radius: 0 20px 20px 0 !important;
  margin-left: 0  !important;
  height: 32px !important;
  width: 32px !important;
  vertical-align: center !important;
}

.nav button {
  background-color: #007bff;
}

.navbar-item {
  margin-left: 10px;
}

/* SIDEBAR */

#sidebar {
  background: #4e4e4e;
  width: 45px;
  height: 100%;
  padding: 10px;
  position: fixed;
}

#sidebar > div > a {
  min-width: 30px;
  min-height: 40px;
}

#sidebar > div > a > img {
  max-width: 24px;
  height: auto;
}

/* CARD */

.card {
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  background:  "eae5d0";
  border: none;
  box-shadow:  0 2px 4px rgba(0,0,0,0.1);
}

.card-content {
  padding: 15px;
}

/* CHART ////////////////////////////////////////////////////////////////////*/

.chart {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.chart rect {
  stroke: white;
}

.tooltip-inner {
  font-family: CodeNew;
  min-width: 100px;
  max-width: 100%;
}

text {
  font-family: CodeNew;
  font-size: 0.8em;
}

.global-repartition-legend {
  margin-top: 5px;
  margin-left: 60px;
}

.global-repartition {
  margin-left: 30px;
}

/* INDEX DASH ///////////////////////////////////////////////////////////////*/

.vert-sep {
  border-right: #6d6d6d solid 1px;
}

.index-logo {
  margin-top: 30px;
  max-height: 100px;
  vertical-align: middle;
}

.dash-index-total {
  font-size: 1.6em;
  text-align: center;
  margin-top: 55px;
}

.dash-index-avg {
  margin-top: 50px;
}

.load-more {
  display: flex;
  justify-content: center;
}

.month-summary > div > div > div {
  justify-content: center;
  display: flex;
}

/* GENERAL DASH /////////////////////////////////////////////////////////////*/

.dash-gen-row-1 .card {
  height: 240px;
}

.dash-gen-row-2 .card {
  height: 550px;
}

.dash-gen-card-1 {
  display: flex;
}

/* METEO DASH ///////////////////////////////////////////////////////////////*/

.meteo-top {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
}

.meteo-top > p {
  width: 100%;
}

.meteo-logo {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  max-height: 100px;
}

#neb-day, #rain-day, #dju {
  font-size: 2.3em;
}

.global-repartition-legend {
  align-self: center;
}

.meteo-card-1 {
  display: flex;
  justify-content: center;
}

/* SETTINGS /////////////////////////////////////////////////////////////////*/

.config-form {
  margin-top: 25px;
}

/* ABOUT ////////////////////////////////////////////////////////////////////*/

.about {
  margin-top: 25px;
}
