<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | Pilea</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('image/icon/favicon.png') }}" />
    <link rel="stylesheet" href="build/app.css">
</head>
<body>

    {% include "misc/navigation-desktop.html.twig" with {selection: block('selection')} %}
    {% include "misc/navigation-mobile.html.twig" %}

    <main class="container-fluid" id='body'>
        {% block body %}
        {% endblock %}
    </main>
    <script>
        var appRoute = "{{ path('homepage')|escape('js') }}";
    </script>
    {{ render(controller(
        'App\\Controller\\DefaultController::periodAction'
    )) }}
    <script src="build/runtime.js"></script>
    <script src="build/app.js"></script>
    {% block javascripts %}
    {% endblock %}
</body>
</html>
