{% extends 'base.html.twig' %}

{% block title %}{{ 'Derniers logs' | trans }}{% endblock %}

{% block selection %}{% endblock %}

{% block body %}
  <div class="container-fluid users">
    <div class='card'>
      <div class="card-body">
        <h1>{{ 'Derniers logs' | trans }}</h1>
        <table class="table table-striped table-hover">
          <tbody>
            {% for log in logs|reverse %}
              {% set class = "" %}
              {% if ".CRITICAL" in log %}
                {% set class = "danger" %}
              {% elseif ".ERROR" in log %}
                {% set class = "warning" %}
              {% elseif ".INFO" in log %}
                {% set class = "info" %}
              {% endif %}
              <tr scope="row">
                <td class="{{ class ? "table-" ~ class : ""}}">{{ log }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
