
/* BRAND NAVBAR */
.navbar {
  background: $primary-color;
  box-shadow: 0 3px 0 rgba(10, 10, 10, .1);
  height: 60px;
}


nav {
  input, button {
    border: none;
  }
  .nav-icon {
    font-size: 1.5em;
    color: White;
  }
  .navbar-brand {
    span{
      font-family: $font-logo;
      color: $white;
      margin-left: 5px;
      vertical-align: middle;
      font-size: 1.7em;
    }

    .logo {
      height: 32px;
    }
  }
}

.navbar-item {
  margin-left: 10px;
}

/* SELECTION */
.selection-form {

  .btn {
    margin: 0px;
  }

  .aeneria-select-period {
    button {
      background-color: $white;
      border-radius: 0;
      color: black;
      font-size: 0.9em;
      padding: 0.375rem;
    }

    .dropdown-toggle::after {
      display: none !important;
    }
  }
}

/* SIDEBAR */
.sidebar {
  padding: 5px;
  width: 45px;
  height: 100%;
  position: fixed;

  > div > a {
    margin: 4px;
    padding: 2px;
    min-height: auto;
    line-height: 0.5;
  }

  > div > a > img {
    max-width: 40px;
    height: auto;
  }

  .active,
  .navbar .active {
    background-color: $button-color;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
