<div class='card about'>
  <div class="card-body">
    <h1 class="card-title">{{ 'À propos' | trans }}</h1>
    <div class="content">
      <a href="https://github.com/SimonMellerin/Pilea"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
      <br>
      <p><b>Pilea</b> - {{ 'Un petit tableau de bord pour analyser sa consommation d\'énergie&nbsp;:' | trans | raw }}</p>
      <ul>
        <li>Version : <a href="https://github.com/SimonMellerin/Pilea/releases/tag/{{version}}">{{version}}</a></li>
        <li>License : <a href="https://en.wikipedia.org/wiki/MIT_License">MIT</a></li>
        <li>Documentation : à venir !</li>
      </ul>
      <hr>
      {% trans %}
      <h2>Un bug ou une proposition d'amélioration ?</h2>
      <br>
      <p>Faites-le savoir un ouvrant une issue sur <a href="https://github.com/SimonMellerin/Pilea/issues">le dépôt <i class="fab fa-github"></i> de Pilea</a> !</p>
      <hr>
      <p>Développé avec <i class="fas fa-heart"></i> par Simon Mellerin, avec l'aide de&nbsp;:</p>
      <ul>
          <li>Côté back : PHP, MySQL, Symfony et son outillage</li>
          <li>Côté front : Webpack, Bootstrap, jQuery, D3.js, Popper.js, Fontawesome</li>
          <li>Icones de :
            <a href="https://thenounproject.com/iconisland/">Icon Island</a>, <a href="https://thenounproject.com/coquet_adrien">Adrien Coquet</a>, <a href="https://thenounproject.com/grega.cresnar">Gregor Cresnar</a>, <a href="https://thenounproject.com/creativestall/"> Creative Stall</a>
          </li>
      </ul>
      {% endtrans %}
    </div>
  </div>
</div>
