{% extends 'base.html.twig' %}

{% block title %}{{ 'Configuration' | trans }}{% endblock %}

{% block selection %}{% endblock %}

{% block body %}
  <div class="container-fluid row">
    <div class="col-md-6">
        {% include "configuration/configuration_form.html.twig" with {form_config: form_config} %}
    </div>
    <div class="col-md-6">
        {% include "configuration/about.html.twig" %}
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
